[submodule "hero-selector-vanilla"]
	path = hero-selector-vanilla
	url = https://github.com/RNCST/hero-selector-vanilla
[submodule "starbucks-vanilla"]
	path = starbucks-vanilla
	url = https://github.com/RNCST/starbucks-vanilla.git
[submodule "JS-mordern"]
	path = JS-mordern
	url = https://github.com/RNCST/JS-mordern.git
[submodule "parcel-template"]
	path = parcel-template
	url = https://github.com/RNCST/parcel-template.git
[submodule "webpack-template"]
	path = webpack-template
	url = https://github.com/RNCST/webpack-template.git
[submodule "vue3-webpack-template"]
	path = vue3-webpack-template
	url = https://github.com/RNCST/vue3-webpack-template.git
[submodule "vue3-movieSearch-app"]
	path = vue3-movieSearch-app
	url = https://github.com/RNCST/vue3-movieSearch-app.git
[submodule "react_basic"]
	path = react_basic
	url = https://github.com/RNCST/react_basic
