[submodule "hero-selector-vanilla"]
	path = hero-selector-vanilla
	url = https://github.com/RNCST/hero-selector-vanilla
[submodule "starbucks-vanilla"]
	path = starbucks-vanilla
	url = https://github.com/RNCST/starbucks-vanilla.git
[submodule "movie-search-vuejs"]
	path = movie-search-vuejs
	url = https://github.com/RNCST/movie-search-vuejs.git
[submodule "JS-mordern"]
	path = JS-mordern
	url = https://github.com/RNCST/JS-mordern.git
[submodule "parcel-template"]
	path = parcel-template
	url = https://github.com/RNCST/parcel-template.git
[submodule "webpack-template"]
	path = webpack-template
	url = https://github.com/RNCST/webpack-template.git
